VITE_SITE_URL=https://dalil-binnish.netlify.app
VITE_SUPABASE_URL=https://mmqtzrgydvvmegrigmqv.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tcXR6cmd5ZHZ2bWVncmlnbXF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NzMzOTgsImV4cCI6MjA5MzQ0OTM5OH0.dVhEOKG4NZLBB5RJ06iDh0XyZBlJm7sybfXRLzo1SPwnode_modules
